body {
    font-family: 'Poppins', sans-serif;
}

.top-ul-a {
    text-decoration: none;
    color: whitesmoke;
}

.hamburger {
    display: none;

}

.hamburger:focus {
    outline: 0;
}


.me-also {
    background: linear-gradient(90deg, black, white, black);
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 70% 100%;
    animation: shade 5s linear infinite;
    margin: 0;
}

@keyframes shade {
    0% {
        background-position-x: -400%;
    }
    100% {
        background-position-x: 400%;
    }
}

.logo {
    height: 80px;
    margin: 20px;
}

.topbar {
    background-color: black;
    height: 95vh;
    color: whitesmoke;
    font-size: 30px;
}

.topbar-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.topbar-text {
    margin-left: 80px;
    margin-bottom: 200px;
    
}

 .socials {
    /* padding-bottom: 200px;
    margin-right: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    
} 


.media {
    margin: 25px;
}


.my-name {
    font-size: 50px;
    margin: 0;
}

.me-in-short {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.me-as-a {
    margin: 0;
    color: white;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: rgb(130, 91, 238);
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(126, 59, 250);
    cursor: pointer;
}



.contact-me-footer {
    background-color: rgb(10, 10, 10);
    height: 15vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-heading {
    color: white;
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.ul-list {
    margin-left: 500px;
    display: flex;
    list-style-type: none;
    width: 700px;
    justify-content: space-around;
    font-size: 30px;
    color: white;
}



.ul-list.show {
    display: block;
}


.sub-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px;
    background-color: white;
}

.h2-common {
    font-size: 40px;
    color: whitesmoke;
}

.h2-about {
    font-size: 40px;
    color: black;
}

.my-img {
    width: 200px;
    border-radius: 50%;
    /* box-shadow: 5px 1px 20px rgb(139, 210, 238); */
    margin-top: 10px;
}


.img-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project-title {
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-card {
    width: 250px;
    /* height: 350px; */
    box-shadow: 14px 14px 20px #cbced1 -14px -14px 20px white;
    margin: 25px;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-radius: 10px;
}

.project-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sub-section-projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background-color: black;
}

.project-img {
    width: 230px;
    height: 265px;
    margin-bottom: 5px;
}

.view-buttons {
    text-align: center;
    padding: 10px;
    color: black;
}

.btn-source {
  text-decoration: none;
  margin-right: 20px;
}

.btn-live {
  text-decoration: none;
}

.btn-source:hover {
    color: #28A745;
}


.btn-live:hover {
    color: #007BFF;
}

.tech-container {
    background-color: white;
    text-align: center;
    margin-top: 40px;
    height: 35vh;
}

.tech-h2 {
    color: black;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.footer-copyright {
    color: black;
}

.icons {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}

.icons-git {
    margin: 5px;
    padding-top: 10px;
}

.icons-img {
    margin-top: 10px;
    padding-top: 20px;
}

.footer-a {
  text-decoration: none;
  color: whitesmoke;
  margin: 20px;
}

.footer-a:hover {
    color: #240cf7;
}

.fa-react {
    color: #61dbfb;
}
.fa-js {
    color: #f7da1e;
}
.fa-node {
    color: #3c873a;
}
.fa-bootstrap {
    color: #563d7c;
}
.fa-css3 {
    color: #264de4;
}
.fa-html5 {
    color: #e34c26;
}
.fa-twitter:hover {
    color: #00acee;
}
.fa-linkedin:hover {
    color: #0072b1;
}
.fa-discord:hover {
    color: #5865f2;
}
.fa-twitter {
    color: white;
}
.fa-linkedin {
    color: white;
}
.fa-discord {
    color: white;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        flex-wrap: wrap;
    }
    .view-buttons {
        display: flex;
        flex-wrap: wrap;
    }
    .tech-container {
        flex-wrap: wrap;
    }
    .top-nav {
        display: none;
    }
    .me-also {
        display: none;
    }
    .tech-container {
        height: 40vh;
    }
    .img-container {
        display: flex;
        flex-direction: column;
    }
    .me-in-short {
        padding: 20px;
    }
}
